:root {
  --bg-color: linear-gradient(to right, #021120 0%, #641807 100%);
  --heading-gradient: linear-gradient(180deg, #E9B540 0%, #F7D2C4 100%);

  --text-color: #E9B540;
  --sub-heading: #A67C52;
  --heading-color: #D6C39F;

  --font-family-I: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background: var(--bg-color);
  font-family: 'Poppins', sans-serif;
}

/* Header*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  background: none;
  color: var(--text-color);
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.logo-container h1 {
  font-size: 25px;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  background: var(--heading-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  font-family: Poppins, Inter;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
  font-size: 18px;
}

.nav-links a:hover {
  color: var(--text-color);
}

.icons {
  display: flex;
  gap: 25px;
  color: var(--text-color);
  cursor: pointer;
  font-size: 25px;
}

/* HERO - SECTION */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background: none;
  color: white;
  position: relative;
  overflow: hidden;
}

.hero-content {
  max-width: 50%;
}

.hero-section h1 {
  font-size: 48px;
  font-weight: 700;
  color: var(--text-color);
  line-height: 1.3;
  margin-bottom: 20px;
}

.hero-section h1 span {
  color: #ffcc66;
}

.hero-content p {
  font-size: 18px;
  margin: 20px 0;
  color: #FAFEC6;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  align-items: center;
}

.hero-buttons a span {
  color: var(--text-color);
  font-weight: bold;
  margin-left: 5px;
}

.hero-buttons a span:hover {
  text-decoration: none;
}

.btn-primary {
  background: #a0180d;
  color: #FAFEC6;
  padding: 12px 28px;
  border-radius: 30px;
  font-weight: 600;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s;
  font-size: 16px;
}

.btn-primary:hover {
  background: #d6271d;
}

.btn-primary,
.btn-secondary {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.btn-secondary {
  color: #FAFEC6;
  font-weight: 500;
  text-decoration: none;
  align-self: center;
  font-size: 16px;
}

.btn-secondary:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #eff4a4;
}


.hero-image {
  max-width: 40%;
}

.hero-image img {
  max-width: 400px;
  border-radius: 12px;
  width: 100%;
  height: auto;
}

.hero-section::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><defs><pattern id="pattern" patternUnits="userSpaceOnUse" width="20" height="20"><path d="M10 0L15 7L10 14L5 7z" fill="%23E9B540" opacity="0.1"/></pattern></defs><rect width="100" height="100" fill="url(%23pattern)"/></svg>') no-repeat right center;
  background-size: cover;
  opacity: 0.3;
  pointer-events: none;
}

/*POPULAR-SECTION*/
.popular-section {
  align-items: center;
  margin-top: 20px;
  padding: 50px;
  background: none;
  position: relative;
  overflow: hidden;
}

.popular-headings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.popular-headings h1 {
  font-size: 45px;
  color: var(--heading-color);
  margin-top: 35px;
}

.popular-headings h3 {
  color: var(--sub-heading);
  font-size: 18px;
}

.popular-headings h3,
h1 {
  font-family: var(--font-family-I);
  letter-spacing: 0.1rem;
}




/*About Section*/
.about-section {
  max-width: 1000px;
  margin: 50px auto;
  border: 6px solid var(--sub-heading);
  border-radius: 15px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.about-content {
  flex: 1;
}

.about-content h3 {
  font-size: 14px;
  letter-spacing: 3px;
  color: var(--sub-heading);
  margin-bottom: 10px;
}

.about-content h1 {
  font-size: 45px;
  color: var(--heading-color);
  margin-bottom: 20px;
}

.about-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.highlight {
  color: var(--heading-color);
  font-weight: bold;
}

.tags {
  margin-top: 20px;
}

.tags span {
  display: inline-block;
  background: #720500;
  padding: 10px 18px;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  color: var(--heading-color);
  border: 1px solid var(--heading-color);
}

.tags span:hover {
  transform: translateY(-2px);
}

.heritage-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.heritage-image img {
  max-width: 100%;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
}