<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bari Foods</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link href='https://cdn.boxicons.com' rel='stylesheet'>
</head>

<body>
  <header class="navbar">
    <div class="logo-container">
      <img src="../assets/img/bari.jpg" alt="Bari Foods Logo" class="logo">
      <h1>BARI FOODS</h1>
    </div>

    <nav>
      <ul class="nav-links">
        <li><a href="#h.html">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
      </ul>
    </nav>

    <div class="icons">
      <i class="fas fa-shopping-cart"></i>
      <i class="fas fa-user-circle"></i>
    </div>
  </header>

  <main>
    <section class="hero-section">
      <div class="hero-content">
        <h1>
          Dive into Rajasthan's <br>
          <span>Crunchiest</span><br>
          Snacking Choice
        </h1>
        <p>
          Where Each Bowl Weaves a Story of Culinary <br>
          Mastery and Passionate Craftsmanship
        </p>

        <div class="hero-buttons">
          <a href="#" class="btn-primary">Order Now <i class="fas fa-cookie-bite"></i></a>
          <a href="#" class="btn-secondary">View All Products<span><i class="fa-solid fa-greater-than"></i></span></a>
        </div>
      </div>

      <div class="hero-image">
        <img src="../assets/img/hero-img.png" alt="Rajasthani Woman Eating Snack">
      </div>
    </section>

    <section class="popular-section">
      <div class="popular-headings">
        <h3>CUSTOMER FAVORITES</h3>
        <img src="../assets/img/heading-underline.png" alt="Heading-underline">
        <h1>POPULAR PRODUCTS</h1>
      </div>
      <div class="product-card">
        <img src="../assets/img/product-cart.png" alt="Product">
        <img src="../assets/img/product-cart.png" alt="Product">
      </div>
    </section>

    <section class="about-section">
      <div class="about-content">
        <h3>BARI FOODS LEGACY</h3>
        <h1>Our Royal Heritage</h1>
        <p>For over four generations, <span class="highlight">Bari Foods</span> has been the custodian of authentic
          Rajasthani culinary traditions, inspired by the timeless artistry of blue pottery and the royal kitchens of
          maharajas.</p>
        <p>Rooted in passion, we curate unforgettable dining experiences and offer exceptional services, blending
          culinary artistry with warm hospitality.</p>

        <div class="tags">
          <span>Royal Recipes</span>
          <span>Pure Ingredients</span>
          <span>Artisan Crafted</span>
        </div>

      </div>

      <div class="heritage-image">
        <img src="../assets/img/history-img.png" alt="Rajasthani Food">
      </div>

    </section>
  </main>
</body>

</html>