<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <header class="navbar">
    <div class="logo-container">
      <img src="../assets/img/bari.jpg" alt="Bari Foods Logo" class="logo">
      <h1>BARI FOODS</h1>
    </div>

    <nav>
      <ul class="nav-links">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
      </ul>
    </nav>

    <div class="icons">
      <i class="fas fa-shopping-cart"></i>
      <i class="fas fa-user-circle"></i>
    </div>
  </header>
  
</body>
</html>